{% extends 'Dashboard_Templates/dash_base.html' %} {% load static %}



 {% block content %}
<input type="hidden" id="counter" value="0" />


 <div id="config-modal">
 	<div class="modal fade" id="configmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title" id="myLargeModalLabel">Upload Config</h4>
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										</div>
										</br>

										<button onclick="AddNewColumn()" type="button" class="close"  aria-hidden="true">Add New Column</button>
										</br></br>
                                          
										<form id="parameters_form" action="/submit_params/" method="POST">
                                        {% csrf_token %}
                                        <div >
												<div class="pd-20 card-box mb-30">
													<div class="clearfix">
													<form >
												<div id="config_parameters">
												
												
												</div>
												</form>
													</div>
										</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
											
										</div>
										</form>

									</div>
								</div>
	</div>


							
</div>


		

				
				<!-- Simple Datatable start -->
				<div class="pd-20 card-box mb-30">
					<div class="clearfix">
						<div class="pull-left">
							<h4 class="text-blue h4">Form grid</h4>
							<p class="mb-30">All bootstrap element classies</p>
						</div>
			
					</div>
					<form >
						<div class="row">
							<div class="col-md-4 col-sm-12">
								<div class="form-group">
									<label>Profile Name</label>
									<input type="text" class="form-control">
								</div>
							</div>
							<div class="col-md-4 col-sm-12">
								<div class="form-group">
									<label>  Edit Parameters</label>
									<button type="button" class= "form-control btn btn-outline-dark" data-toggle="modal" data-target="#configmodal"><i class="dw dw-settings"></i>  Config</button>
								</div>
							</div>
							<div class="col-md-4 col-sm-12">
								<div class="form-group">
									<label >Submit</label>
									<button onclick="Submit_Parameters()" type="button" class= "form-control btn btn-outline-dark"  > <i class="dw dw-tick"></i> Submit Changes</button>
								</div>
							</div>
						</div>
						
					</form>
					<div class="collapse collapse-box" id="form-grid-form">
						<div class="code-box">
							<div class="clearfix">
								<a href="javascript:;" class="btn btn-primary btn-sm code-copy pull-left" data-clipboard-target="#form-grid"><i class="fa fa-clipboard"></i> Copy Code</a>
								<a href="#form-grid-form" class="btn btn-primary btn-sm pull-right" rel="content-y" data-toggle="collapse" role="button"><i class="fa fa-eye-slash"></i> Hide Code</a>
							</div>
							<pre><code class="xml copy-pre" id="form-grid">
<form>
	<div class="row">
		<div class="col-md-4 col-sm-12">
			<div class="form-group">
				<label>col-md-4</label>
				<input type="text" class="form-control">
			</div>
		</div>
		<div class="col-md-4 col-sm-12">
			<div class="form-group">
				<label>col-md-4</label>
				<input type="text" class="form-control">
			</div>
		</div>
		<div class="col-md-4 col-sm-12">
			<div class="form-group">
				<label>col-md-4</label>
				<input type="text" class="form-control">
			</div>
		</div>
	</div>
	
</form>
							</code></pre>
						</div>
					</div>
				</div>
				<!-- Simple Datatable End -->
				<!-- multiple select row Datatable start -->
				<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  
					
					
				<!-- Checkbox select Datatable End -->
				<!-- Export Datatable start -->
				
				<!-- Export Datatable End -->
			</div>
		
		</div>

		{% endblock %}
	<!-- js -->
	{% block scripts %}

	
	<script src="{% static 'src/plugins/sweetalert2/sweetalert2.all.js' %}"></script>
	<script src="{% static 'src/plugins/sweetalert2/sweet-alert.init.js' %}"></script>

	<script src="{% static 'src/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'src/plugins/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
	<script src="{% static 'src/plugins/datatables/js/dataTables.responsive.min.js' %}"></script>
	<!-- buttons for Export datatable -->

	<!-- Datatable Setting js -->
	<script src="{% static 'vendors/scripts/datatable-setting.js' %}"></script>

	<!-- add sweet alert js & css in footer -->
	




<script>



function AddNewColumn(){
	var counter = new Promise((resolve, reject) => {
		var counter = parseInt(document.getElementById("counter").getAttribute("value"))
		counter+=1
		
		resolve(counter)

	});

	counter.then((value)=>{
		
	
		var html=`<div class="row">
													<div class="col-md-6 col-sm-12">
														<div class="form-group">
															
															<input type="text" class="form-control" placeholder="Name" name="name_`+value+`">
														</div>
													</div>
													<div class="col-md-6 col-sm-12">
														<div class="form-group">
															<input type="text" class="form-control" placeholder="Value" name="value_`+value+` ">
														</div>
													</div>
												
												</div>`
		$( "#config_parameters" ).append( html );
		document.getElementById("counter").value=value
	})
		
	
	

}

function Submit_Parameters(){
    document.getElementById("parameters_form").submit(); 
}



</script>

	{% endblock %}
</html>