{% extends 'Dashboard_Templates/dash_base.html' %} {% load static %}



 {% block content %}
 <input type="hidden" id="hid_id" value="" />
 <input type="hidden" id="hid_name" value="" />
<input type="hidden" id="hid_ip" value="" />
<input type="hidden" id="delete_ip" value="" />


 <div id="modals">
 	<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title" id="myLargeModalLabel">Edit</h4>
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										</div>
										</br>
										<div class="input-group custom">
													<input id="new_name" type="text" class="form-control form-control-lg" placeholder="Service Name">
													<div class="input-group-append custom">
														<span class="input-group-text"><i class="icon-copy dw dw-name"></i></span>
													</div>
										</div>
										<div class="input-group custom">
													<input id="new_ip" type="text" class="form-control form-control-lg" placeholder="IP">
													<div class="input-group-append custom">
														<span class="input-group-text"><i class="icon-copy dw dw-computer"></i></span>
													</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-primary" onclick="Submit_Edit()">Save changes</button>
										</div>
										
									</div>
								</div>
							</div>


							
</div>



			<div id="delete-modal">
							<input type="hidden" id="hid_ip" value="" />

						
							<div class="modal fade" id="warning-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-sm modal-dialog-centered">
									<div class="modal-content bg-warning">
										<div class="modal-body text-center">
											<h3 class="mb-15"><i class="fa fa-exclamation-triangle"></i> Warning</h3>
											<p>Do You Want Delete it ? </p>
											<button type="button" class="btn btn-dark" data-dismiss="modal" onclick="DeleteService()">Yes</button>
											<button type="button" class="btn btn-dark" data-dismiss="modal">No</button>
										</div>
									</div>
								</div>
							</div>



			</div>
	
				{% if type != "all" %}
			<div class="row">
							<div class="col-md-5 col-sm-12">
								<div class="form-group">
									<label>Service Name</label>
									<input type="text" id="service_input" class="form-control">
								</div>
							</div>
							<div class="col-md-5 col-sm-12">
								<label>IP</label>
								<div class="form-group">
									<input type="text" id="ip_input" class="form-control">
								</div>
							</div>
							<div class="col-md-2 col-sm-12">
							<label id="lab">Confirm</label>
								<div class="form-group">

									<button type="button" onclick="AddService('{{type}}')" class="btn btn-outline-success  " >Add Service</button>
								</div>
							</div>
							
						
							
							{% comment %} {% for service in all.service %}
								{{service.name}}	
							{% endfor %} {% endcomment %}

							
			</div>
				{% endif %}
				
				<!-- Simple Datatable start -->
				<div class="card-box mb-30">
					
					<div class="pb-20">
						<table class="data-table table stripe hover nowrap" id="tables">
							<thead>
							
								<tr>
									<th >ID</th>
									<th >Description</th>
									<th>Type</th>
									<th >IP</th>
									<th >Status</td>
									<th>Actions</th>
									<th>Start/Stop</td> 
									<th>Details</td>

								</tr>
							</thead>
							<tbody>
							
							{% for data in alldata %}
							{% for key,value in status.items %}
							
							{% if data.name == key %}
								<tr>
									<td class="table-plus">{{ data.server_id }}</td>
									<td>{{ data.name }}</td>
									<td>{{data.Type | upper }}</td>
									<td>{{ data.ip }}</td>
									{% if value == 'disable' %}
									<th data-color="#f56767" >Stopped</td>
									{% elif value == 'enable' %}
									<th data-color="#33cc33" >Running</td>
									{% endif %}
									<td>
									<div class="row">
										<div style="padding-right:10px">					
												<a  onclick="Put_Value('{{data.server_id}}','{{data.name}}','{{data.ip}}')"   href="#"  data-backdrop="static" data-toggle="modal" data-target="#edit-modal" type="button" ><i class="dw dw-edit2" ></i> </a>
										</div>
										<div style="padding-right:10px">
												<a  onclick="PutDeleteValue('{{data.server_id}}')"  href="#" data-color="#f56767" data-toggle="modal" data-target="#warning-modal" ><i class="dw dw-delete-3" ></i> </a>
										</div>
									
										</div>
									</td>
									<td>
									{% if value == 'disable' %}
									<a  onclick="StartService('{{data.ip}}','{{data.Type}}')"  href="#"    type="button" data-color="#33cc33"><i class="dw dw-right-arrow-4"  ></i> Start</a>

									{% elif value == 'enable' %}
									<a   onclick="StopService('{{data.ip}}','{{data.Type}}')" href="#"    type="button" data-color="#f56767"><i class="dw dw-stop"   ></i> Stop</a>
									{% endif %}
									</td>
									<td> <a> Test </a></td>
								
								</tr>
								{% endif %}
								{% endfor %}

								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<!-- Simple Datatable End -->
				<!-- multiple select row Datatable start -->
				<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  
					
					
				<!-- Checkbox select Datatable End -->
				<!-- Export Datatable start -->
				
				<!-- Export Datatable End -->
			</div>
		
		</div>

		{% endblock %}
	<!-- js -->
	{% block scripts %}

	
	<script src="{% static 'src/plugins/sweetalert2/sweetalert2.all.js' %}"></script>
	<script src="{% static 'src/plugins/sweetalert2/sweet-alert.init.js' %}"></script>

	<script src="{% static 'src/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'src/plugins/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
	<script src="{% static 'src/plugins/datatables/js/dataTables.responsive.min.js' %}"></script>
	<!-- buttons for Export datatable -->

	<!-- Datatable Setting js -->
	<script src="{% static 'vendors/scripts/datatable-setting.js' %}"></script>

	<!-- add sweet alert js & css in footer -->
	

	<script>


//////////////////////////////////////////////////////////////////////////////////////
function AddService(service_type){

   var name=$("#service_input").val();
   var ip=$("#ip_input").val();
   if(name && ip){
   $.ajax({
   type: "POST",
   url: '{{ 'add-service/' }}',
   data: { csrfmiddlewaretoken: '{{ csrf_token }}', "type": service_type ,"name":name,"ip":ip},
   success: function callback(result){
               location.reload();
				

            }
});

   }
 
   
}

//////////////////////////////////////////////////////////////////////////////////////

function StartService(ip,type){
  

    $.ajax({
   type: "POST",
   url: '{{ 'start-service/' }}',
   data: { csrfmiddlewaretoken: '{{ csrf_token }}', "type": type },
   success: function callback(){
               location.reload();
            }
});
}

//////////////////////////////////////////////////////////////////////////////////////


function StopService(ip,type){
  $.ajax({
   type: "POST",
   url: '{{ 'stop-service/' }}',
   data: { csrfmiddlewaretoken: '{{ csrf_token }}', "type": type },
   success: function callback(){
               location.reload();
               
            }
});
}




//////////////////////////////////////////////////////////////////////////////////////

function PutDeleteValue(id){
	document.getElementById("delete_ip").setAttribute("value", id);

}
function Put_Value(id,name,ip){
	document.getElementById("hid_id").setAttribute("value", id);
	document.getElementById("hid_name").setAttribute("value", name);
	document.getElementById("hid_ip").setAttribute("value", ip);


}




//////////////////////////////////////////////////////////////////////////////////////


function Submit_Edit(){
	var name = document.getElementById("hid_name").getAttribute("value")
	var ip = document.getElementById("hid_ip").getAttribute("value")
	var id = document.getElementById("hid_id").getAttribute("value")
	var new_name=document.getElementById("new_name").value

	var new_ip=document.getElementById("new_ip").value
	
	if(name && ip && id && new_name && new_ip){
   $.ajax({
   type: "POST",
   url: '{{ 'edit-service/' }}',
   data: { csrfmiddlewaretoken: '{{ csrf_token }}', "id":id,"new_name":new_name,"new_ip":new_ip},
   success: function callback(result){ 
	  toastr.success('Update Successfully', 'Update Server Data');
               location.reload();
				 

            }
});
}}

//////////////////////////////////////////////////////////////////////////////////////

function DeleteService(){
	var key = document.getElementById("delete_ip").getAttribute("value")
  $.ajax({
   type: "POST",
   url: '{{ 'deleting-service/' }}',
   data: { csrfmiddlewaretoken: '{{ csrf_token }}', "id": key },
   success: function callback(){
                location.reload();
               
            }
});
}


//////////////////////////////////////////////////////////////////////////////////////

</script>

	{% endblock %}
</html>