{% extends 'Dashboard_Templates/dash_base.html' %}  {% load static %}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->


            {% block content %}
            
            
            
            <div class="main-content">


                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0">Services</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                      
                                            <li class="breadcrumb-item active">Service List</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-centered mb-0 table-nowrap">
                                                <thead class="bg-light">
                                                    <tr>
                                           
                                                        <th>Service Name</th>
                                                        <th>Status</th>
                                                      
                                                     
                                                        <th class="text-center">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                <div id="Status-Table">

                                                {% for data in alldata %}
                                                {{data}}
                                                    {% for key,value in data.items %}
                                                    <tr>
                                                    

                                                        {% comment %} <td>
                                                            <img src="{% static  'images/product/img-1.png' %}" alt="product-img"
                                                                title="product-img" class="avatar-md" />
                                                        </td> {% endcomment %}
                                                        <td>
                                                            <h5 class="font-size-14 text-truncate"><a  class="text-dark">{{key}}</a></h5>
                                                            {% comment %} <p class="mb-0">Color : <span class="font-weight-medium">Blue</span></p> {% endcomment %}
                                                        </td>
                                                        {% if value == "Up" %}
                                                        <td class="text-success"> 
                                                            {{value}}
                                                        </td>
                                                        
                                                        {% else %}
                                                         <td class="text-danger" > 
                                                            {{value}}
                                                        </td>
                                                        {% endif  %}
                                                        
                                                     
                                                        <td style="width: 90px;" class="text-center">
                                                            <a onclick="StartService('{{ key }}')" class="action-icon text-success"> <i class="mdi mdi-play-box font-size-18"></i></a>
                                                             <a onclick="StopService('{{key}}')" class="action-icon text-danger"> <i class="mdi mdi-stop-circle font-size-18"></i></a>
                                                            
                                                        </td>
                                                    </tr>
                                                        {% endfor %}
                                                    {% endfor %}
                                      
                                                    {% comment %} <tr class="bg-light text-right">
                                                        
                                                        <th scope="row" colspan="5">
                                                            Sub Total :
                                                        </th>
                                                        
                                                        <td>
                                                            $ 1530
                                                        </td>
                                                    </tr>
                                                    <tr class="bg-light text-right">
                                                        
                                                        <th scope="row" colspan="5">
                                                            Discount :
                                                        </th>
                                                        
                                                        <td>
                                                            - $ 30
                                                        </td>
                                                    </tr>
                                                    <tr class="bg-light text-right">
                                                        
                                                        <th scope="row" colspan="5">
                                                            Shipping Charge :
                                                        </th>
                                                        
                                                        <td>
                                                            $ 25
                                                        </td>
                                                    </tr>
                                                    <tr class="bg-light text-right">
                                                        
                                                        <th scope="row" colspan="5">
                                                            Total :
                                                        </th>
                                                        
                                                        <td>
                                                            $ 1525
                                                        </td>
                                                    </tr> {% endcomment %}
                                                    </div>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                
 
{% endblock %}
            {% block script %}
<script>
function StartService(key){
   

    $.ajax({
   type: "POST",
   url: '{{ 'start-service/' }}',
   data: { csrfmiddlewaretoken: '{{ csrf_token }}', data: key },
   success: function callback(){
               console.log("Start");
            }
});
}


function StopService(key){
  $.ajax({
   type: "POST",
   url: '{{ 'stop-service/' }}',
   data: { csrfmiddlewaretoken: '{{ csrf_token }}', data: key },
   success: function callback(){
               console.log("stop")
               
            }
});
}
</script>
{% endblock %}
